@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Merriweather&family=Poppins:wght@500&family=Quicksand:wght@300&display=swap');

body {
    font-family: 'Bitter', serif;
}

h6 {
    text-align: left;
}