<html>
<head>  
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
</head>

<body>
   <!-- 100% width container with max-width set to grid-lg (960px) -->
   <div class="hero bg-gray">
      <div class="hero-body">
         <!-- auto width column example -->
         <div class="container">
            <div class="columns">
               <div class="column col-auto"></div>
               <div class="column"><h2>Prosty system ksiegowy - historia</h2>
               </div>
            </div>
         </div>
      </div>
   </div>

   <form action={{url_for("history_range")}} method="POST" class="mt-2">
    <div class="column col-8 col-max-auto">
        <div class="input-group">
           <select class="form-select select-sm" name="mode">
              <option>Podaj zakres historii</option>
           </select>
           <input class="form-input input-sm" type="number" placeholder="od linii" name="from">
           <input class="form-input input-sm" type="number" placeholder="do linii" name="to">
           <button type="submit" class="btn btn-primary input-group-btn btn-sm">Zatwierdz</button>
        </div>
    </div>
   </form>

   {% for i in range (context.from, context.to) %} 
   {{context.przeglad[i]}} 
   <br>
   {% endfor %} 

</body>
</html>