<html>
 <head>  
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
</head>

 <body>
   <!-- 100% width container with max-width set to grid-lg (960px) -->
   <div class="hero bg-gray">
      <div class="hero-body">
         <!-- auto width column example -->
         <div class="container">
            <div class="columns">
               <div class="column col-auto"></div>
               <div class="column"><h2>Prosty system ksiegowy</h2>
               <p> Aktualna wartosc salda: {{context.saldo}} PLN</p>
               <p> Aktualny stan magazynowy: {{context.magazyn}}</p>
               </div>
            </div>
         </div>
      </div>
   </div>

   <form action="/" method="POST" class="mt-2">
      <div class="column col-8 col-max-auto">
         <div class="input-group">
            <select class="form-select select-sm" name="mode">
               <option>Formularz zmiany salda</option>
            </select>
            <input class="form-input input-sm" type="number" placeholder="Podaj wartosc zmiany" name="value">
            <input class="form-input input-sm" type="text" placeholder="Podaj komentarz do zmiany" name="comment">
            <button type="submit" class="btn btn-primary input-group-btn btn-sm">Zatwierdz zmiane</button>
         </div>
     </div>
   </form>

   <form action="/" method="POST" class="mt-2">
      <div class="column col-8 col-max-auto">
         <div class="input-group">
            <select class="form-select select-sm" name="mode">
               <option>Formularz zakupowy</option>
            </select>
            <input class="form-input input-sm" type="number" placeholder="Cena jednostkowa produktu" name="purchase_price">
            <input class="form-input input-sm" type="number" placeholder="Ilosc produktow" name="purchase_quantity">
            <input class="form-input input-sm" type="text" placeholder="Nazwa produktu" name="purchase_index">
            <button type="submit" class="btn btn-primary input-group-btn btn-sm">Zatwierdz zmiane</button>
         </div>
     </div>
   </form>

   <form action="/" method="POST" class="mt-2">
      <div class="column col-8 col-max-auto">
         <div class="input-group">
            <select class="form-select select-sm" name="mode">
               <option>Formularz sprzedazowy</option>
            </select>
            <input class="form-input input-sm" type="number" placeholder="Cena jednostkowa produktu" name="sales_price">
            <input class="form-input input-sm" type="number" placeholder="Ilosc produktow" name="sales_quantity">
            <input class="form-input input-sm" type="text" placeholder="Nazwa produktu" name="sales_index">
            <button type="submit" class="btn btn-primary input-group-btn btn-sm">Zatwierdz zmiane</button>
         </div>
     </div>
   </form>

      {% with message = get_flashed_messages() %}
         {% if message %}
         <div class="toast toast-error">
            <button class="float-right"></button>
            {{message}}
          </div>
         {% else %}
         <div class="toast toast-primary">
            <button class="float-right"></button>
          </div> 
         {% endif %}
      {% endwith %}

      <div class="container">
            <div class="column col-auto"></div>
            <div class="column mt-2"><h4>Baza Danych</h4>

            </div>
         </div>
      </div>

      <div class="column col-8 col-max-auto">
         <div class="input-group">
            <ul class="list-group">
               {% for akcja in context.akcje %}

               <li class="list-group-item">{{ akcja.akcja }} </li> 
               
               {%endfor%}
             </ul>
         </div>
      </div>
</div>
</body>
</html>